// Fonts
@import "~font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import "variables";

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "~bootstrap/scss/bootstrap";

@import "~select2/src/scss/core";

/* === Template mixins === */
@import "mixins/animation";
@import "mixins/background";
@import "mixins/blockqoute";
@import "mixins/badges";
@import "mixins/buttons";
@import "mixins/cards";
@import "mixins/misc";
@import "mixins/text";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "reset";
@import "fonts";
@import "functions";
@import "sidebar";
@import "navbar";
@import "typography";
@import "misc";
@import "footer";
@import "utilities";
@import "settings";
@import "dashboard";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "components/badges";
@import "components/buttons";
@import "components/cards";
@import "components/checkbox-radio";
@import "components/dropdown";
@import "components/forms";
@import "components/icons";
@import "components/preview";
@import "components/tables";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "landing-screens/auth";
@import "landing-screens/error";

#ajaxLoading{
    position: fixed;
    z-index: 999;
    height: 5em;
    width: 5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
/* Transparent Overlay */
#ajaxLoading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
code{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #04befe;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}